/* header info */

.navbar {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: static;

}

.navbar h1{
  float: left;
}

.navbar ul {
  float: right;
  list-style: none;
  padding: 15px;
}

.navbar li {
  display: inline;
  padding: 5px;
}

a {
  text-decoration: none !important;
}

/* category info */

.category-container {
  width: 700px;
  margin: auto;
}

.category-name {
  float: center;
}

.category-posts {
  float: left;
}

.category-posts li {
  list-style: none;
  margin-left: -40px;
  padding: 5px;
  font-style: oblique;
  font-size: 20px;
}

