<div class="category-container">
  <h1 class="category-name"><%= @category.name %></h1>

  <ul class="category-posts">
    <% @posts.each do |post| %>
      <li><a href="/posts/<%= post.id %>"><%= post.title %></li>
    <% end %>
  </ul>
</div>
