<div class="container">

  <h1><%= @category.name %></h1>

  <ul class="category-list">
  <% @posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></li>
  <% end %>
  </ul>
</div>
